{% extends 'baza/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<section class="container">
   <div style="margin-left: 30%; width: 500px; margin-top: 50px">
      <H1 class="text-center text-white">{{title}}</H1><br>
         <form method="post">
            {% csrf_token %}
            {{form.Student_name}}<br>
            {{form.Student_city}}<br>
            {{form.Student_age}}<br>
            <h5 class="text-white">Выберите группу&nbsp&nbsp&nbsp&nbsp {{form.Student_group_id}}<br></h5><br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">{{name}}</button>
         </form>
   </div>
</section>
{% endblock %}