{% extends 'baza/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<section class="container">
   <div style="margin-left: 34%; width: 400px; margin-top: 50px">
      <H1 class="text-center text-white">{{title}}</H1><br>
         <form method="post">
            {% csrf_token %}
            {{form.Group_name}}
            <br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">{{name}}</button>
         </form>
   </div>
</section>
{% endblock %}
