{% extends 'baza/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div style="margin-left: 20px,margin-right: 20px">
    <H2 class="text-white">Выберите группу/группы</H2>
        <form method="post" >
            {% csrf_token %}

            {% for el in group %}
                <label class="text-white">
                <input type="checkbox" name="checkbox" value="{{el.Group_id}}" >{{el.Group_name}}&nbsp<br>
                </label>
            {% endfor %}

            <p><input type="submit" value="Отправить"></p>
            <h2 class="text-white"><b>Итоговая таблица:</b></h2>
                <table class="table table-striped" >
                    <div class="alter alter-warning mt-2">
                        <tr>
                            <th><h3 class="text-white">ФИО</h3></th>
                            <th><h3 class="text-white">Город</h3></th>
                            <th><h3 class="text-white">Возраст</h3></th>
                            <th><h3 class="text-white">Группа</h3></th>
                        </tr>
                            {% for el in list %}
                                <tr>
                                    <th class="text-white">{{el.Student_name}}</th>
                                    <th class="text-white">{{el.Student_city}}</th>
                                    <th class="text-white">{{el.Student_age}}</th>
                                    <th class="text-white">{{el.Student_group_id}}</th>
                                </tr>
                            {% endfor %}
                    </div>
                </table>
       </form>
</div>
{% endblock %}