{% extends 'baza/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 bg-secondary border rounded-3 ">
            <h2 class="text-white">Чей вывести список?</h2><br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-2">
                <a href="http://127.0.0.1:8000/students/">
                    <button  type="button" class="btn btn-primary">Студентов</button>
                </a>
                <a href="http://127.0.0.1:8000/group/">
                     <button type="button" class="btn btn-primary">Групп</button>
                </a>
                <a href="http://127.0.0.1:8000/students_group/">
                    <button type="button" class="btn btn-primary">Студентов и группы</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-secondary border rounded-3">
            <h3 class="text-white">Какое действие вы хотите сделать?</h3><br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-2">
                <a href="http://127.0.0.1:8000/add_student/">
                    <button  type="button" class="btn btn-primary"><i class="fas fa-plus-cricle"></i>Добавить студента</button>
                </a>

                <a href="http://127.0.0.1:8000/add_group/">
                    <button  type="button" class="btn btn-primary"><i class="fas fa-plus-cricle"></i>Добавить группу</button>
                </a>
                <a href="http://127.0.0.1:8000/filter/">
                    <button  type="button" class="btn btn-primary"><i class="fas fa-plus-cricle"></i>Фильтр групп</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}