{% extends 'baza/base.html'%}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<H1 class="text-white">{{title}}</H1>
   <table class="table table-striped">
        <div class="alter alter-warning mt-2 ">
            <tr >
                <th><h3 class="text-white">ФИО</h3></th>
                <th><h3 class="text-white">Город</h3></th>
                <th><h3 class="text-white">Возраст</h3></th>
                <th><h3 class="text-white">Действие</h3></th>
            </tr>
                {% for el in list %}
                    <tr>
                        <th class="text-white">{{el.Student_name}}</th>
                        <th class="text-white">{{el.Student_city}}</th>
                        <th class="text-white">{{el.Student_age}}</th>
                        <th><a href="{%url 'student_update' el.Student_id %}" class="btn btn-success">Редактировать</a>
                        <a href="{%url 'student_delete' el.Student_id %}" class="btn btn-danger">Удалить</a></th>
                    </tr>
                {% endfor %}
        </div>
    </table>
{% endblock %}
